In [35]:
import pandas as pd

In [36]:
data = pd.read_csv("spam.csv")

In [37]:
data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [38]:
data['spam']= data["Category"].apply(lambda x:1 if x=='spam' else 0)

In [39]:
data.tail(10)

     Category                                            Message  spam
5562      ham  Ok lor... Sony ericsson salesman... I ask shuh...     0
5563      ham                                Ard 6 like dat lor.     0
5564      ham  Why don't you wait 'til at least wednesday to ...     0
5565      ham                                       Huh y lei...     0
5566     spam  REMINDER FROM O2: To get 2.50 pounds free call...     1
5567     spam  This is the 2nd time we have tried 2 contact u...     1
5568      ham               Will ü b going to esplanade fr home?     0
5569      ham  Pity, * was in mood for that. So...any other s...     0
5570      ham  The guy did some bitching but I acted like i'd...     0
5571      ham                         Rofl. Its true to its name     0

In [40]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(data.Message,data.spam,test_size=0.3)

In [41]:
from sklearn.feature_extraction.text import CountVectorizer

In [42]:
from sklearn.naive_bayes import MultinomialNB

In [43]:
from sklearn.pipeline import Pipeline
clf=Pipeline([
    ('vectorizer',CountVectorizer()),
    ('nb',MultinomialNB())
])

In [44]:
clf.fit(X_train,y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [47]:
emails=['Ive been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times. ']

In [48]:
a=clf.predict(emails)

In [49]:
a

array([0], dtype=int64)

In [50]:
type(a)

numpy.ndarray

In [51]:
if a[0] == 0:
    print("The Mail is Ham Mail")
else:
    print("The mail is Spam mail")

The Mail is Ham Mail